/* hypersponsive */
@media screen and (max-width: 100%) {
    header, main, footer {
        width: 1000px;
    }
}

@media screen and (max-width: 600px) {
ul.nav li {float: none;}
.img-float {float: none;}
}

header, main, footer {
float: center;
width: 100%;
max-width: 1000px;
margin: 0 auto;
margin-bottom: 1rem;
}

body {
    background: #313131;
    color: #656565;
    font-family: serif;
    font-size: 1.1em;
    line-height: 1.5;
}

/* navigation */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ccc;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* hypercontent */

.content, .footer {
    padding: 14px 16px;
    background-color: #cbcbcb;
}

.footer p {
    text-align: center;
    font-size: 0.9em;
}

/* hypertext */
h1, h2, h3, h4, h5, h6 { 
    color: #4b4b4b; 
    font-family: sans-serif;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

blockquote {
    margin-left: 2em;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: .4rem .8rem;
    border-left: .35rem solid #ff1493;
    color: #655;
    font-style: italic;
}

cite {
    font-style: italic;
    font-size: 0.8em;
}

.small {
    font-size: 0.8em;
}

/* images */
img {
    max-width: 100%;
    height: auto;
}

main img {
    max-width: 100%;
    border-radius: 5px;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-float {
    float: left;
    padding: 0 16px 16px 0;
 }

/* hyperlinks */
a, a:visited {
    color: #ff1493;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #ff6cbc;
    text-decoration: underline;
}

/* content flex grid stuff 
    jacked from https://www.taniarascia.com/how-to-build-a-responsive-image-gallery-with-flexbox/
*/

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.responsive-image {
    max-width: 100%;
}

.cell {
    margin: 1rem;
}

.cell img {
    display: block;
}
  
/* tablets */
@media screen and (min-width: 600px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .cell {
        width: calc(50% - 2rem);
    }
}
  
/* desktop */
@media screen and (min-width: 1000px) {
    .cell {
        width: calc(33.3333% - 2rem);
    }
}

/* backlinks 
    jacked from https://github.com/binyamin/eleventy-garden
*/
.backlinks-title {
    margin-bottom: 0;
}

.backlinks-container {
    margin-top: 0;
}

.backlinks-default {
    margin-top: 0;
    margin-left: 16px;
    color: var(--grey);
}

.backlink__preview {
    display: none;
    
    position: absolute;
    bottom: 8px;
    left: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
    width: 348px;
    max-height: 148px;
    overflow: hidden;
}
.backlink__preview::after {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, white);
    width: 100%;
    height: 24px;
}

.backlink__preview h1 {
    font-size: 1.2rem;
    margin-top: 8px;
    font-weight: bold;
}

.backlink {
    width: fit-content;
    position: relative;
}

.backlink:hover {
    padding-right: 4px; /* Allow mouse to travel between link and modal */
}

.backlink:hover .backlink__preview {
    display: block;
}